<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript" src="javascripts/common.js"></script>
    <script type="text/javascript" src="javascripts/shifter.js"></script>
  </body>
</html>
