label {
  display:block;
  padding:15px 0 5px 0;
}

/*form > div:first-child > label{ padding-top: 0px; }*/

input[type=text],
input[type=password],
select{
 	padding:3px;
  border:1px solid #7f9db9; /* Reseting border */
}

.btn-container label {
 	display:inline-block;
  padding:5px 0;
}

.rounded {
 	border-radius:30px;
  text-indent:3px;
}

.radio-group.singleline .btn-container {
 	 float:left;
}

.radio-group.singleline {
 	*zoom:1;
}

.radio-group.singleline:after {
  content:"";
  display:table;
  clear:both;
}

.shadow {
 	box-shadow:inset 0 0 5px rgba(0,0,0,0.3);
}

.shadow2 {
  box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
}

.required:after {
 	content:"*";
  display:inline-block;
  color:red;
  padding-left:10px;
}
