.toasts {
  position: fixed;
  max-width: 100%;
  width: 250px;
  right: 0;
  bottom: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-transition: height 1s;
  transition: height 1s;
  z-index: 100;
  list-style: none;
}
.toasts li {
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 15px 20px;
  background: #222;
  color: white;
  border-radius: 2px;
  margin: 10px 0;
  -webkit-animation: popup 0.6s cubic-bezier(0.1, 1.06, 0.6, 1.34), hide 0.4s 3s;
          animation: popup 0.6s cubic-bezier(0.1, 1.06, 0.6, 1.34), hide 0.4s 3s;
}
.toasts li.message {
  background: #358;
}
.toasts li.error {
  background: brown;
}
.toasts li.warn {
  background: chocolate;
}
.toasts li.success {
  background: seagreen;
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes popup {
  from {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
